# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
lsf-web/.next/
lsf-web/out/
lsf-web/build/

# .NET build artifacts
lsf-api/obj/
lsf-api/bin/

# TypeScript
*.tsbuildinfo
lsf-web/next-env.d.ts

# Misc
.DS_Store
*.pem
*.user
.env.local
.env*.local
